@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-green-50: oklch(0.966 0.016 278.57);
  --color-green-100: oklch(0.924 0.037 278.99);
  --color-green-200: oklch(0.856 0.071 277.82);
  --color-green-300: oklch(0.782 0.11 275.57);
  --color-green-400: oklch(0.705 0.152 272.82);
  --color-green-500: oklch(0.639 0.191 269.08);
  --color-green-600: oklch(0.564 0.236 263.06);
  --color-green-700: oklch(0.49 0.217 261.81);
  --color-green-800: oklch(0.371 0.165 261.92);
  --color-green-900: oklch(0.255 0.113 261.91);
  --color-green-950: oklch(0.203 0.089 261.17);
}
